[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = doctor
[access "refs/*"]
	owner = group user/bwieckow
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bwieckow
	label-Verified = -1..+1 group user/bwieckow
	push = group user/bwieckow
	read = group user/bwieckow
	rebase = group user/bwieckow
	removeReviewer = group user/bwieckow
	submit = group user/bwieckow
[access "refs/heads/*"]
	create = group user/bwieckow
	push = +force group user/bwieckow
	pushMerge = group user/bwieckow
	read = group user/bwieckow
[access "refs/tags/*"]
	push = group user/bwieckow
	push = +force group user/bwieckow
