[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = doctor
[access "refs/*"]
	owner = group user/bwieckow
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group doctor-admin
	label-Verified = -1..+1 group doctor-admin
	push = group doctor-admin
	read = group doctor-admin
	rebase = group doctor-admin
	removeReviewer = group doctor-admin
	submit = group doctor-admin
[access "refs/heads/*"]
	create = group doctor-admin
	push = group doctor-admin
	push = +force group user/bwieckow
	pushMerge = group doctor-admin
	read = group doctor-admin
[access "refs/tags/*"]
	push = group doctor-admin
	push = +force group user/bwieckow
