<div class="container" [hidden]="submitted">
    <form [formGroup]="form" (submit)="onSubmit()" class="col-md-5">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name" required formControlName="name">
      </div>
 
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>

      <div class="row alert alert-danger" [hidden]="isWrongCredentials">
        Wrong username or password
      </div>
      
      <div class="button">
        <button type="submit" class="btn btn-success col-md-5">Submit</button>
      </div>
 
    </form>
</div>
